<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:KbPxrRvamde0QfH/seRn/CFkKLzUU9ubTPZakma3/5s="/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="redis"/>
        <env name="DB_CONNECTION" value="pgsql"/>
        <env name="DB_HOST" value="db"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_DATABASE" value="Laravel_AI_RAG_API_testing"/>
        <env name="DB_PASSWORD" value="root"/>
        <env name="DB_URL" value=""/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
        <env name="REDIS_HOST" value="redis"/>
        <env name="REDIS_PASSWORD" value="secret"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="REDIS_PREFIX" value="testing_"/>
    </php>
</phpunit>
